.header {
   background: rgb(75, 115, 181);
   line-height: 1.42;
   color: #fff;
   margin-bottom: 47px;
}
.container {
   width: 1062px;
   margin: 0 auto;
   
   right: 20px;
}
body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased;
}

.company-contacts__phone {
   color: inherit;
   font-size: 21px;
   text-decoration: none;
   font-weight: bold;
}
.company-contacts_text {
   font-size: 14px;
   font-weight: bold;
   opacity: .7;
   color: inherit;
   
}
.logo {
   display: inline-block;
  position: absolute;
  left: 0;
  top: 18px;

}
.header__container {
position: relative;
height: 76px;
}
.company-contacts {
   position: absolute;
   top: 10px;
   right: 0;
   text-align: right;
}
.page-content {
width: 880px;
}
.page-content, .sidebar {
   display: inline-block;
   vertical-align: top;

}

.banner__content {
   display: block;
   max-width: 100%;
   max-height: 100%;
   position: right;
   
}